<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home Page</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<h1>Welcome to the Test</h1>
			<p>We're going to build a cool application using an MTV framework, Django!</p>
			<p><a class="btn btn-primary btn-lg" href="/signin">Start</a></p>
		</div>
		<div class="col-md-4">
			<h5>Manage Users</h5>
			<p>Using this application, youll learn how to add, remove, and edit users for the applicaiton</p>
		</div>
		<div class="col-md-4">
			<h5>Leave Messages</h5>
			<p>Users will be able to leave a message to another user using this application</p>
		</div>
		<div class="col-md-4">
			<h5>Edit User Information</h5>
			<p>Admins will be able to edit another user's information (email address, first name, last name, etc)</p>
		</div>
	</div>
</body>
</html>