<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>User Dashboard</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
	<div class="navbar navbar-default">
		<div class="container">
			<a class="navbar-brand" href="/">Home</a>
			<ul class="nav navbar-nav">
				<li><a href="/dashboard">Dashboard</a></li>
				<li><a href="{% url 'show-user' request.user.id %}">Profile</a></li>
				<li><a href="{% url 'edit-user' %}">Edit Information</a></li>
				<li><a href="{% url 'admin-create-user' %}">Add New User</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li><a href=" {% url 'logout' %}">Log Out</a></li>
			</ul> 
		</div>
	</div>
	<div class="container">
		<h1>Welcome {{request.user.get_full_name}}</h1>
		<h1>All Users</h1>
		<br>
		<table class="table">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Email</th>
				<th>Created At</th>
				<th>User Level</th>
				<th>Actions</th>
			</tr>
			{% for user in users%}
			<tr>
				<td>{{user.id}}</td>
				<td><a href="{% url 'show-user' user.id %}">{{user.get_full_name}}</a></td>
				<td>{{user.email}}</td>
				<td>{{user.created_at}}</td>
				{% if user.is_superuser %}
					<td>Admin</td>
				{% else %}
					<td>Normal</td>
				{% endif %}
				<td><a href="{% url 'admin-edit-user' user.id %}">Edit</a> <a href="">Remove</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>
</body>
</html>